* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  font-weight: 700px;
}

.slider-wrapper {
  margin: auto;
  margin-top: 5%;
  width: 55vw;
  height: 75vh;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(102, 151, 135, 0.589);
  transition: all .3s ease-in-out
}

.slider {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 72% 25%;
  grid-template-areas: 'slides slides' 'left nav';
  grid-row-gap: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.slides-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.slides {
  grid-area: slides;
  display: flex;
  width: 400%;
  height: 100%;
  box-sizing: border-box;
  transition: all .3s ease-in-out
}

.slide {
  width: 25%;
  border-radius: 10px;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.texts-container {
  overflow: hidden;
  width: 60%;
}

.texts {
  margin-left: 20px;
  width: 60%;
  display: flex;
  grid-area: left;
  overflow: hidden;
  box-sizing: border-box;
}

.text {
  width: 100%;
  flex-shrink: 0;
  transition: all .3s ease-in-out
}

.navigation {
  grid-area: nav;
  display: flex;
  height: 25px;
  justify-self: flex-end;
  margin-right: 20px;
}

input[name="radio-input"] {
  visibility: hidden;
  margin-left: -4px;
  width: 1px;
  height: 1px;
}

.bullet {
  padding: 5px;
  cursor: pointer;
}

.bullet-visual {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(77, 132, 168);
  background-color:  rgb(77, 132, 168);
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .3s ease-in;
}

.bullet:hover .bullet-visual {
  background-color: rgb(33, 124, 109);
  border-color: #fff;
}

.bullet:active .bullet-visual {
  background-color: transparent;
}

#radio1:checked ~ .slides {
  margin-left: 0;
}
#radio1:checked ~ .texts .text {
  transform: translateX(0%);
}
#radio1:checked ~ .navigation .b1 {
  background-color: transparent;
}

/* #radio1:checked .b1 {
  background-color: transparent;
} */

#radio2:checked ~ .slides {
  margin-left: -100%;
}

#radio2:checked ~ .texts .text {
  transform: translateX(-100%);
}
#radio2:checked ~ .navigation .b2 {
  background-color: transparent;
}
/* #radio2:checked ~ .navigation > .b2  {
  background-color: red;
} */

#radio3:checked ~ .slides {
  margin-left: -200%;
}
#radio3:checked ~ .texts .text {
  transform: translateX(-200%);
}
#radio3:checked ~ .navigation .b3 {
  background-color: transparent;
}

#radio4:checked ~ .slides {
  margin-left: -300%;
}
#radio4:checked ~ .texts .text {
  transform: translateX(-300%);
}
#radio4:checked ~ .navigation .b4 {
  background-color: transparent;
}

@media (max-width: 1440px) {
  .slider-wrapper {
    width: 75vw;
    height: 80vh;
  }
}

@media (max-width: 1024px) {
  .slider-wrapper {
    width: 90vw;
    height: 85vh;
  }
}

@media (max-width: 768px) {
  .slider-wrapper {
    width: 90vw;
    height: 75vh;
  }

  .slider {
    grid-template-areas: 'slides' 'nav' 'left';
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 0.5fr 2fr;
  }

  .texts {
    width: 90%;
    justify-self: center;
  }

  .navigation {
    justify-self: center;
    align-self: center;
  }
}

@media (max-width: 580px) {
  .slider-wrapper { 
    height: 60vh;
  }
}